@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  height: 100vh;
  width: auto;
  background-image: linear-gradient(#f7971e, #ffd200);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Roboto", serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70rem;
  margin: 0 auto;
  margin-top: 10rem;
}
.detailSection {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 2.1rem;
  height: auto;
  /* background-color: rgb(255, 255, 255); */
  border-radius: 2rem;
  box-shadow: -1px 2px 11px 0px rgba(0, 0, 0, 0.75);
}
.poster {
  height: 20rem;
  margin-right: 2rem;
  box-shadow: -1px 2px 11px 0px rgba(0, 0, 0, 0.75);
  border-radius: 2rem;
}
.poster img {
  height: inherit;
  width: inherit;
  /* border: 1px solid white; */
  border-radius: 2rem;
}
.additional_info {
  display: flex;
}
.addinfo {
  margin-right: 5rem;
}
.additional_info--2 {
  margin-left: 10px;
}

p {
  color: rgb(110, 108, 108);
}
h2 {
  color: rgb(250, 245, 245);
}
.fas,
.fab {
  padding-right: 5px;
  color: rgb(250, 245, 245);
}
.innerText {
  font-size: 90%;
  color: rgb(110, 108, 108);
}
.titles {
  color: rgb(250, 245, 245);
}
.messages {
  text-align: center;
  color: rgb(250, 245, 245);

  font-size: 2rem;
}
.loading_component {
  box-sizing: border-box;
  height: 10rem;
}
